{% extends 'base.html.twig' %}

{% block title %}Editer la tâche{% endblock %}

{% block body %}
    <h1>Editer la tâche</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_task_index') }}">Retour vers la liste des tâches</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
