{% extends 'base.html.twig' %}

{% block title %}Créer une tâche{% endblock %}

{% block body %}
    <h1>Créer une tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}">Retour vers la liste des tâches</a>
{% endblock %}
