{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle liste{% endblock %}

{% block body %}
    <h1>Créer une nouvelle liste</h1>

    {{ include('listing/_form.html.twig') }}

    <a href="{{ path('app_listing_index') }}">Retour vers le listing</a>
{% endblock %}
